{% extends 'design/base.html' %}
{% load static %}

{% block content %}

{% include 'design/dish_navbar.html' %}



<div class="container">
<br>
<div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
        <div style="min-width:18rem">
            <img src="{{dish.image.url}}" width="300px" height="300px" alt="{{dish.name}}">
        </div>
    </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6">
            <div>
            <h1 class="my_prod_title">{{dish.name}}</h1>
            <p class="my_title">Rs{{dish.price}}</p>

                {% if user.is_authenticated %}
                <a href="{% url 'cart:add_cart' dish.id %}" class="btn btn-secondary">Add to Cart</a>
                {% else %}
                <a href="{% url 'foodapp:loginview' %}" class="btn btn-secondary">Add to Cart</a>
                {% endif %}


            </div>
        </div>
    </div>
</div>

{% endblock %}