{% extends 'design/base.html' %}
{% load static %}

<!--<h1>Our Menu</h1>-->

{% block content %}

{% include 'design/menu_navbar.html' %}

<div class="container">
    <div class="row mx-auto">
        {% for dishes in dishes.object_list %}
        <div class=" col-9 col-sm-12 col-md-4 xol-lg-4">
            <div class="card text-center" style="min-width:18rem">
                <a href="{{dishes.get_url}}">
                <img class="card-img-top" src="{{dishes.image.url}}" width="150px" height="150px" alt="{{dish.name}}">
                </a>
                <div class="card-body">
                    <h4>{{dishes.name}}</h4>
                    <p>{{dishes.price}}</p>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
    <div class="mx-auto">
        {% if dishes.paginator.num_pages > 1 %}
        <hr>
        <div class="text-center">
            {% for pg in dishes.paginator.page_range %}
                <a href="?page={{pg}}" class="btn btn-light btn-sm {% if dishes.number == pg %}active{% endif %}">{{pg}}</a>
            {% endfor %}
        </div>
        {% endif %}
    </div>

    <br>
</div>
{% endblock %}
