{% extends 'design/base.html' %}

{% load static %}

{% block content %}

{% include 'design/menu_navbar.html' %}


<div>
    <div>
        <nav class="navbar navbar-expand-lg navbar-light shadow-sm">
            <p class="text-center my_search"><center>You have searched for: <b>"{{query}}"</b></center></p>
        </nav>
    </div>
</div>
<div class="container">
<div class="row mx-auto">
    {% for dishes in dishes %}
    <div class="my_bottom_margin col-9 col-sm-12 col-md-4 xol-lg-4">
        <div class="card text-center" style="min-width:18rem">
            <a href="{{dishes.get_url}}">
                <img class="card-img-top" src="{{dishes.image.url}}" width="100px" height="300px" alt="{{dish.name}}">
            </a>
            <div class="card-body">
                <h4>{{dishes.name}}</h4>
                <p>{{dishes.price}}</p>
            </div>
        </div>
    </div>
    {% empty %}
    <div class="row mx-auto">
        <p class="text-center my_search_text">0 results found</p>
    </div>
    {% endfor %}
</div>
</div>

{% endblock %}